@use "Normalize";
@use "Tokens/Token" as *;
@use "Utility/UtilityAll";
@use "Components/Component";
@use "baseAll";
@use "Typography";
@use "Button";
@use "Accessibility";

.wrap {
  padding: 4vh 2vw;
}
