@import "Normalize";
@import "Tokens/Token";
@import "Utility/UtilityAll";
@import "Components/Component";
@import "baseAll";
@import "Typography";
@import "Button";
@import "Accessibility";

.wrap {
  padding: 4vh 2vw;
}
