:root {
  /* Width */
  --max-width: 1440px;

  --box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.15);
  /* Text Design */

  --text-shadow: 0px 0px 2px #000;

  --inner-width: 960px;
  /* Color  global */
  /* TODO: remove */
  --primary: #0073df;
  --color-ghost: ghostwhite;
  /* Color brand / bg or text */
  --color-default: #02375f;
  --color-primary: #119cda;
  --color-secondary: #f3c92d;
  --color-accent: #e1323c;
  --color-btn-cv: #ea6e75;
  --color-btn-download: #e1323c;
  /* Add Origin */
  --color-elegant: #48626f;
  /* Color Dark */
  --color-black: #000;
  --color-text: #191919;
  /* Color Light */
  --color-white: white;
  --color-light-gray: #eceff2;
  --color-gray: #c5d0db;
  --color-ghost: ghostwhite;
  /* Color  text */
  --color-text-h: #000;
  --color-text-p: #555;
  --color-text-p-secondary: #666;
  --color-text-a: #1976d2;
  --color-text-a-hover: #1976d2;
  --color-text-a-visited: #504080;
  /* Color  bg */
  --color-bg: #fff;
  --color-bg-code: #f0f0f0;
  --color-bg-footer: #f9f9f9;
  --color-bg-strong: #fff996;
  --color-bg-btn: #1976d2;
  /* Color  border */
  --color-border: rgba(0, 0, 0, 0.1);
  /* Font */
  /* --font-sans: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; */
  --font-sans: Helvetica Neue, Arial, Hiragino Sans, Hiragino Kaku Gothic ProN,
    BIZ UDPGothic, Meiryo, sans-serif;
  --font-design: "Comfortaa", sans-serif;
  --font-mincho: serif;
}

/* style reset */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow-x: hidden;

  font-size: 16px;

  -ms-text-size-adjust: 100%;
  /* ios */
  -webkit-tap-highlight-color: #0000;
  -webkit-text-size-adjust: 100%;
}

/* ios */
@supports (-webkit-touch-callout: none) and (font: -apple-system-body) {
  :root {
    font: -apple-system-body;
  }
}

body {
  overflow-x: hidden;
  min-height: 100vh;

  word-wrap: anywhere;
  word-break: normal;

  color: #111;

  font-family: var(--font-sans);
  font-size: 100%;
  font-weight: 400;

  line-break: strict;
}

body,
button,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;

  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;

  vertical-align: bottom;
}

a {
  text-decoration: none;

  color: initial;

  -webkit-tap-highlight-color: transparent;
}

p {
  letter-spacing: 1px;

  font-size: 1rem;
  line-height: 1.8;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  overflow: visible;
  box-sizing: initial;

  cursor: pointer;
  vertical-align: inherit;

  color: inherit;
  border: none;
  background: none;

  font: inherit;
  line-height: inherit;

  -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.2em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.2em;
  }
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 0.8em;
}

nav ol,
nav ul {
  margin: 0;

  list-style: none;
}

button {
  margin: 0.5em;
  padding: 0.5em 2.4em;

  color: #111;
  border: 1px solid #111;
  border-radius: 4em;
  outline: none;
  background: none;
}

button.white {
  color: var(--color-ghost);
  border: 1px solid var(--color-ghost);
}

/* Animation */
@keyframes fadeIn_opacity {
  0% {
    /* transform: translateY(-8%); */
    opacity: 0;
  }

  100% {
    /* transform: translateY(0%); */
    opacity: 1;
  }
}

@keyframes fadeIn_Top {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes fadeIn_Left {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
