.flex.flex-column.vertical-grids
  div
    h2.design-font-en Default
    //- a.button(href="#") Default
    button.button Normal
    button.button.button-outline Outlined
    button.button.button-cancel Cancel
    input.button.button-clear(type="submit", value="Clear")
  div
    h2.design-font-en Disabled
    button.button(disabled) Disabled
    button.button.button-cancel(disabled) Cancel(disabled)

  div
    h2.design-font-en Variarions
    h3 background
    .button.btn-secondary secondary
    .button.btn-accent accent
    .button.btn-success success
    .button.btn-warning warning
    .button.btn-danger danger
    .button.btn-info info
    .button.btn-elegant elegant

    h3 outline
    .button.btn-outline-secondary secondary
    .button.btn-outline-accent accent
    .button.btn-outline-success success
    .button.btn-outline-warning warning
    .button.btn-outline-danger danger
    .button.btn-outline-info info
    .button.btn-outline-elegant elegant
