.mg-container.column-show
  .row
    .column .column
    .column .column
    .column .column
    .column .column

  .row
    .column .column
    .column.column-offset-25 column-offset-25

  .row
    .column.column-25 .column-25
    .column.column-offset-auto column-offset-auto

  .row.row-bottom
    .column.column-25 column-offset-25

  .row
    .column .column
    .column.column-50.column-offset-25 .column-50.column-offset-25

  .row
    .column.column-66 .column-66
    .column.column-auto .column-auto
  .row
    .column.column-33 .column-33
    .column.column-auto .column-auto

.mg-container.column-show.sp-column
  .row
    .column .column
    .column .column
    .column .column
    .column .column
  .row
    .column.column-10 10%
  .row
    .column.column-20 20%
  .row
    .column.column-25 25%
  .row
    .column.column-33 33%
  .row
    .column.column-40 40%
  .row
    .column.column-50 50%
  .row
    .column.column-60 60%
  .row
    .column.column-66 66%
  .row
    .column.column-75 75%
  .row
    .column.column-80 80%
  .row
    .column.column-90 90%
  .row
    .column 100%
