.flex.horizontal-grids
  div
    h4 normal
    ul
      li Unordered list item 1
      li Unordered list item 2

    h4 circle
    ul.circle
      li circle Unordered list item 1
      li circle Unordered list item 2

    h4 disc
    ul.disc
      li disc Unordered list item 1
      li disc Unordered list item 2

    h4 disc in disc
    ul.disc
      li disc Unordered list item 1
      li disc Unordered list item 2
      ul.disc
        li disc Unordered list item 1
        li disc Unordered list item 2

  div
    h4 ol
    ol
      li Ordered list item 1
      li Ordered list item 2

    h4 ol in ol
    ol
      li Ordered list item 1
      li Ordered list item 2
      ol
        li Ordered list item 1
        li Ordered list item 2


    h4 dl
    dl
      dt Description list item 1
      dd Description list item 1.1
