.flex.horizontal-grids
  div
    h2.design-font-en heading
    h1 h1 Heading
    h2 h2 Heading
    h3 h3 Heading
    h4 h4 Heading
    h5 h5 Heading
    h6 h6 Heading

    hr

    h2.design-font-en Color
    p.color-secondary secondary
    p.color-accent accent
    p.color-success success
    p.color-warning warning
    p.color-danger danger
    p.color-info info
    p.color-elegant elegant

  div
    h2.design-font-en Othes
    p Paragraph
    a Anchor
    br
    em Emphasis
    br
    small Small
    br
    strong Strong
    br
    u Underline

    hr
    h2.design-font-en Blockquotes
    blockquote
      p
        em Qui sit itaque praesentium

    hr
    h2.design-font-en Code
    include _Code.pug

