// FIXME! Box Section
$spacing-grid: 1.5rem 2rem 1rem;

.container {
  padding: $spacing-grid;
}

section.section,
.box,
.paper {
  margin: $spacing-grid;
  padding: $spacing-grid;

  background-color: var(--color-box, #fff);
  box-shadow: var(--box-shadow);
}

.fit {
  max-width: fit-content;
  max-height: fit-content;
}

.space {
  &-pd {
    padding: $spacing-grid;
  }
  &-mg {
    margin: $spacing-grid;
  }
}
